body
{
    background-color: crimson;
}

#output
{
    background: white;
    border-radius: 10px;
    border-top: 10px solid rgb(219, 96, 116);
    padding: 10px;
    float: none;
    text-align: left;
}